<div class="row" style="border:solid 1px #ccc;padding:30px;">
    <div class="pull-left" style="display:inline-block;">
        <h3>系统数据显示面板<small>目前只包含大红门站点数据</small></h3>
    </div>
    <div class="pull-right" style="display:inline-block;">
        <h3>@DateTime.Today.ToShortDateString()</h3>
    </div>
</div>
<div class="row" style="padding:20px;border:solid 1px #ccc;">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div style="border-radius: 2px;background: #fff;padding: 15px 15px 30px 15px;margin-bottom: 20px;">
            <div style="margin-bottom: 20px;">
                <div class="pull-left" style="display: inline-block;">
                    <h4>611<small>票</small></h4>
                    <small>全部运单数据</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div style="border-radius: 2px;background: #fff;padding: 15px 15px 30px 15px;margin-bottom: 20px;">模块1</div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div style="border-radius: 2px;background: #fff;padding: 15px 15px 30px 15px;margin-bottom: 20px;">模块1</div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div style="border-radius: 2px;background: #fff;padding: 15px 15px 30px 15px;margin-bottom: 20px;">模块1</div>
    </div>
</div>